<div class="container">
  <h3>Gerenciar Contratos</h3>
  <form>
    <div class="row">
      <div class="col s12 m12">
        <div class="card">
          <div class="card-content">
            <span class="card-title">Filtros</span>

            <button class="btn waves-effect waves-light" type="submit" name="action">Pesquisar
            </button>

            <a class="waves-effect waves-light btn light-green" style="margin-left: 5px;"
              routerLink="/contrato/edit">Novo Contrato</a>
          </div>
        </div>
      </div>
    </div>

  </form>
</div>
