<div class="row">
  <div class="col s12 m12" *ngIf="this.renderedList">
    <div class="card">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th *ngIf="!agrupador.linhas || agrupador.linhas.length != 0">Ações</th>
              <th *ngFor="let agrupador of agrupador.headerColuna">
                {{agrupador}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let linha of agrupador.linhas">
              <td>
                <a (click)="editItem(linha.id)" class="waves-effect waves-light btn" title="Editar"><i
                    class="material-icons">edit</i></a>
                <a (click)="deleteItem(linha.id)" class="waves-effect waves-light btn" title="Deletar"
                  style="margin-left: 5px;"><i class="material-icons">delete</i></a>
              </td>
              <td *ngFor="let conteudo of linha.conteudos">
                <span *ngIf="conteudo.ehCpf">{{conteudo.conteudo | CPF}}</span>
                <span *ngIf="!conteudo.ehCpf">{{conteudo.conteudo}}</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
